html, body {
    height: 97%;
}

#matrix-arrow-left-right {
    width: 13em;
    margin: 1em 1em 0.5em 1em;
}

#matrix-arrow-top-bittom {
    height: 13em;
    margin: 1em 1em 0.5em 1em;
}

#arrow-left, #line-left-right, #arrow-right {
    float: left;
}

#arrow-top, #line-top-bottom, #arrow-bottom{
    float: left;
}

.break-float {
    clear: both;
}

#line-left-right {
    width: 90%;
    margin-top: 5px;
    height: 1px;
    background-color: black;
}

#line-top-bottom {
    width: 1px;
    background-color: black;
    height: 200px;
    float: left;
    margin-top:5px;
    margin-left: -5px;
}

#arrow-top {
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid black;
    width:0;
    float: left;
}

#arrow-bottom {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-top: 5px solid black;
    border-right: 5px solid transparent;
    margin-top: 205px;
    margin-left: -10px;
}

#matrix {
    clear: both;
}

#arrow-left {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid black;
}

#arrow-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid black;
    margin-top: 1px;
}

#matrix table {
    width: 21em;
    height: 21em;
}

#matrix td {
    width: 10em;
    height: 10em;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

#left, #days-container {
    height: 100%;
    width: 40%;
    float: left
}

#days-container {
    border: 4px inset #808080;
    padding: 10px;
    width: 55%;
    height: 100%;
    float: right;
}

#someday {
    border: 4px outset #808080;
    padding: 10px;
    width: 100%;
    margin-top: 10%;
    min-height: 40%;
    float: left;
    clear: both;
    font-family: sans-serif;
    font-weight: bolder;
}

#someday-list{
    font-family: sans-serif;
    font-weight: normal;
}

.title{
    font-family: sans-serif;
    font-weight: bolder;
    font-style: italic;
}

.day {
    display: inline-block;
    width: 45%;
    min-height: 90%;
    padding: 1px;
    float: inherit; /*days are not moved*/
}

.task {
    font-family: serif;
    width: 80%;
    min-height: 1.4em;
    border-bottom:dotted #949494 thin;
    cursor: move;
}

.delegated {
    font-style: italic;
}

.task:hover span {
    font-weight: bold;
}

div.task img {
    min-height: 1em;
    max-height: 1em;
    cursor: pointer;
    float: right;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 3px;
    padding-top: 5px;
}

div.task img {
    margin-left: 0.5em;
}

#matrix-now {
    background-color: #ff644b;
}

#matrix-decide-later {
    background-color: #f7b52b;
}

#matrix-delegate {
    background-color: #ffe668;
}

#matrix-dump {
    background-color: #f4eed6;
}

#someday-todo-text{
    width: 50%
}

.input{
    width: 50%
}

.week-day, .date {
    font-family: sans-serif;
    font-weight: bold;
}

.week-day {
    font-size: 2em;
}

.date {
    font-size: 0.7em;
    font-style: italic;
}

.day-header img, .day-header-text-container {
    float: left;
}

.task-completed {
    text-decoration: line-through;
}

/* ----- Task details ------*/

#task-details, #task-delegate {
    display: none;
    border: 1px solid #ccc;
    border-right-color: #666;
    border-bottom-color: #666;
    background-color: white;
    z-index: 10;
    position: absolute;
    padding: 1%;
}

#task-details {
    min-height: 17em;
    max-height: 17em;
    min-width: 20em;
    max-width: 20em;
}

#task-delegate {
    min-height: 7em;
    max-height: 7em;
    min-width: 10em;
    max-width: 10em;
}

#task-name, #task-comment {
    width: 96%;
}

#task-name{
    font-weight: bolder;
}

#task-comment{
    background-color: #fffcaf;
}

#task-comment-title {
    margin-top: 0.5em;
    font-family: serif;
}

#task-name-title{
    font-family: serif;
}

#task-details-actions, #task-delegate-actions {
    padding-top:  0.5em;
    padding-right:  2px;
}

#task-details-actions img, #task-delegate img {
    float: right;
}

#task-details-actions img:hover, #task-delegate-actions img:hover {
    cursor: pointer;
}

textarea{resize: none}

#task-delegate {
    display: none;
}

#task-delegate-name {
    margin-bottom: 0.5em;
}

#task-delegate-target, #task-delegate input {
    width: 100%;
    font-family: serif;
}

#notification {
    position: absolute;
    top: 1em;
    right: 1em;
    border: 1px solid #ccc;
    border-right-color: #666;
    border-bottom-color: #666;

    min-width: 20em;
    max-width: 20em;
    min-height: 3em;
    max-height: 3em;
    display: none;
    padding: 5px;
}

.notification-queued {
    background-color: #fffcaf;
}

.notification-complete {
    background-color: #bbefbb;
}